// Landing page specific styles
app-navbar nav#navbar {
  background: linear-gradient(to right, #0f172a, #1e293b) !important;
}

app-navbar #navbar {
  background: linear-gradient(to right, #0f172a, #1e293b) !important;
}

app-hero section#hero {
  background: linear-gradient(to bottom right, #0f172a, #1e293b) !important;
}

app-hero #hero {
  background: linear-gradient(to bottom right, #0f172a, #1e293b) !important;
}