.bg-slate-800 {
  background-color: #1e293b;
}

.border-indigo-500 {
  border-color: #6366f1;
}

.text-slate-50 {
  color: #f8fafc;
}

.text-sky-400 {
  color: #38bdf8;
}

.text-slate-400 {
  color: #94a3b8;
}